/* GENERAL STYLING */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-image: url(../include/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* LOGO STYLING */
.logo {
    color: #333;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* LOGOUT BUTTON */
.logout button {
    padding: 15px 25px;
    margin: 0 15px;
    color: #444;
    background-color: #f4e1d2;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.logout button:hover {
    background-color: #dfc2b0;
    transform: scale(1.05);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

/* CONTAINER STYLING */
.container {
    margin: 50px auto;
    width: 70%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* BUTTONS */
.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.button {
    background-color: #f4e1d2;
    color: #444;
    padding: 40px 60px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #dfc2b0;
    transform: scale(1.05);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
}

a{
    text-decoration: none;
}